/* 메인 비쥬얼 */
#mainVisual{width: 1400px; height:1211px; margin: 0 auto;}
#mvTop{width: 1300px; height: 147px; margin-bottom: 30px; padding: 50px 50px 0 50px;}
#mvTop .mvButton1{width: 200px; height: 100px;}
#mvTop .mvButton1 a{display: block; margin-bottom: 8px; text-decoration: none; color: #000066;}
#mvTop .mvButton1 a:hover{text-decoration: underline;}
#mvTop .mvButton1 span{padding-left: 12px; font-size: 18px; text-align: center;}
#mvTop .mvButton1 img{width: 85px; height: 85px;}
#mvTop .mvButton2{width: 200px; height: 100px;}
#mvTop .mvButton2 a{display: block; margin-bottom: 8px;text-decoration: none; color: #000066;}
#mvTop .mvButton2 a:hover{text-decoration: underline;}
#mvTop .mvButton2 span{padding-left: 8px; font-size: 18px; text-align: center;}
#mvTop .mvButton2 img{width: 85px; height: 85px;}
#mvTop .mvSearch{width: 500px;}
#mvTop .mvSearch .searchBox{width: 100%; height: 70px; padding: 10px; border: 3px solid #267dde; border-radius: 40px; box-sizing: border-box;}
#mvTop .mvSearch .searchBox input{padding: 10px; margin-left: 10px; line-height: 50px;}
#mvTop .mvSearch .searchBox img{padding: 10px 0px;}
#mvTop .mvSearch .searchBox .searchWord{width: 350px; height: 26px; border: none;}
#mvTop .mvSearch .searchkeyWord{margin-top: 20px;}
#mvTop .mvSearch .searchkeyWord span{font-size: 17px; padding-left: 8px;}
#mvTop .mvSearch .searchkeyWord span a{color: #555555;}
#mvTop .mvSearch .searchkeyWord span a:hover{text-decoration: underline;}
#mvTop .mvWeather{width: 350px; height: 100px; margin-left: 50px;}
#mvTop .mvWeather img{width: 80px; height: 80px;} 
#mvTop .mvWeather .Temper{font-size: 3.1em; margin-left: 15px; color: #000000; font-weight: bold;  padding-left: 5px; line-height: 75px;} 
#mvTop .mvWeather .Dust{color: #000000;  padding-left: 5px; padding-bottom: 10px;} 
#mvTop .mvWeather .Normal{color: #00b300;  padding-left: 5px;} 
#mvTop .mvWeather .Link{width: 20px; height: 20px; margin-top: 30px; padding-left: 5px;}

#mvCenter{width: 1400px; height: 500px; margin-bottom: 30px;}
#mvCenter .mvPosts{width: 400px; height: 477px;}
#mvCenter .mvPosts .mvPtit{height: 35px; background: #2389c1; padding: 5px 15px; font-weight: bold; line-height: 35px; font-size: 18px; margin-bottom: 5px; color: #ffffff;}
#mvCenter .mvPosts img{float:right; padding: 12px 2px; width: 15px; height: 12px;}
#mvCenter .mvPosts .postList ul li{padding:15px; border-bottom: 1px solid #999999;}
#mvCenter .mvPosts .postList ul li a{color: #000000; font-size: 17px; letter-spacing: -1px;}
#mvCenter .mvPosts .postList ul li a:hover{text-decoration: underline;}
#mvCenter .mvPosts .postList ul li span{margin-right:10px; padding: 0px 2px; font-size: 0.8em; color: #ffffff; background-color: #00a3d9; letter-spacing: 1px;}
#mvCenter .mvPosts .postList ul li > img{float:right; padding-top: 7px; width: 7px;}

#mvCenter .mvEvent{width: 950px; height: 477px; margin-left: 30px;}
#brandVisual{position: relative; width: 100%; margin: 0 auto; overflow: hidden; height: 420px; background: #8c908c;}
#brandVisual ul{position: relative; float: left; width: 100%; height: 420px;}
#brandVisual li{position: absolute; width: 100%; height: 420px;}
#brandVisual li a{display: block; text-indent: -99999px;}
#brandVisual .visual_0{left: 0px; background: url(../images/visual_1.jpg) 50% 0 no-repeat;}
#brandVisual .visual_1{left: 100%; background: url(../images/visual_2.jpg) 50% 0 no-repeat;}
#brandVisual .visual_2{left: 200%; background: url(../images/visual_3.jpg) 50% 0 no-repeat;}
#brandVisual .visual_3{left: 300%; background: url(../images/visual_4.jpg) 50% 0 no-repeat;}
#brandVisual .visual_4{left: 400%; background: url(../images/visual_5.jpg) 50% 0 no-repeat;}
#buttonList:after{content:''; display: block; clear: both;}
#brandVisual #buttonList > li{background: url(../images/btnVisual.png) 0 -16px no-repeat; width: 14px; height: 15px; float: left; position: relative; left: 45%; top:-30px; overflow: hidden; margin: 0 5px; cursor: pointer;}
#brandVisual #buttonList > li.on{background-position: 0 0;}
#brandVisual #buttonList > li a{display: block; text-indent: -99999px;}
.left{position: absolute; top: 180px; left: 0; z-index: 10;}
.right{position: absolute; top: 180px; right: 0; z-index: 10;}

#footer_notice_inner{width: 930px; height: 20px; margin-top: 20px; border: 1px solid #cfcfcf; padding: 10px; overflow: hidden;}
#footer_notice_inner ul{width: 900px; height: 30px; position:relative; left:70px;}
#footer_notice_inner ul li{height:30px; position:absolute; top:100%; padding-left: 10px;}
#footer_notice_inner>h3{display:none;}
#footer_notice_inner img{display:block; width:45px; height:33px; margin:8px;}
#footer_notice_inner a{display:block; line-height:134%; padding-left:10px; box-sizing:border-box; color:#000040; white-space:nowrap; overflow:hidden;}
#footer_notice_inner a:hover{color:#aaaaaa;}
.blue{color: #267dde; font-size: 18px; font-weight: bold; line-height: 20px;}


#mvBottom{width: 1400px; height: 479px; margin-bottom: 30px;}
#mvBottom .mvNotice {width: 750px; height: 442px;}
#mvBottom .mvNotice .mvNoticetit{width: 750px; height: 82px;}
#mvBottom .mvNotice .mvNoticetit ul li{float: left; width: 149px; height: 75px; background: #f7f7f7; border: 1px solid #cfcfcf; text-align: center; font-size: 19px; box-sizing: border-box;  line-height: 75px;}
#mvBottom .mvNotice .mvNoticetit ul li a{height: 73px; display: block; color: #555555; border-bottom: 1px solid #cfcfcf;}
#mvBottom .mvNotice .mvNoticetit ul li a.on{background-color: #1da3a9; color: #ffffff; font-weight: bold;}
#mvBottom .mvNotice .mvNoticetit ul li a.on:hover{text-decoration: none;}
#mvBottom .mvNotice .mvNoticetit ul li a:hover{text-decoration: underline;}
#mvBottom .mvNotice .mvNoticewrap ul li{padding: 11px 3px; font-size: 19px; width: 740px;}
#mvBottom .mvNotice .mvNoticewrap ul li a{color: #000033;}
#mvBottom .mvNotice .mvNoticewrap ul li a:hover{text-decoration: underline;}
#mvBottom .mvNotice .mvNoticewrap ul li .green{color: #1da3a9; width: 30px;}
#mvBottom .mvNotice .mvNoticewrap ul li .date{float: right;}
#mvBottom .mvNotice .mvNoticeft{width: 750px; height: 50px; text-align: center; border-top: 1px solid #555555; border-bottom: 1px solid #555555; margin-top: 20px;}
#mvBottom .mvNotice .mvNoticeft a{line-height: 50px; color: #555555;}
#mvBottom .mvNotice .mvNoticeft a:hover{text-decoration: underline;}
#mvBottom .mvBanner{width: 490px; height: 240px; margin-left: 80px; border: 1px solid #cfcfcf; padding: 30px; background: url(../images/profile.jpg) no-repeat;}
#mvBottom .mvBanner p{font-size: 22px; padding-left: 12px;}
#mvBottom .mvBanner .Bablue{color: #267dde; font-weight: bold;}
#mvBottom .mvBanner strong{font-size: 1.5em; font-weight: bold; color: #000040;}
#mvBottom .mvBanner .mayorBox{width: 300px; height: 150px; margin-top: 30px;}
#mvBottom .mvBanner .mayorBox ul li{float: left; padding: 5px;}
#mvBottom .mvBanner .mayorBox ul li a{display: block; text-decoration: none; font-size: 22px; color: #222222; border-bottom: 1px solid #222222; padding-bottom: 3px;}

.mvJobinfo{width: 510px; height: 68px; margin-left: 80px; margin-top: 30px; border: 1px solid #cfcfcf; padding: 20px;}
.mvJobinfo span{color: #267dde; font-weight: bold; font-size: 18px;}
.mvJobinfo .jobImg img{float: right; margin: 5px;}
.mvJobinfo .jobMore img{margin: 5px; width: 18px; height: 18px;}

#iconbutton{width: 100%; height: 158px; background: #ffffff; padding-top: 30px;}
#iconbutton .iconBg{width: 100%; height: 20px; background: url(../images/main_ico_line.gif) repeat-x left top;}
#iconbutton .iconbuttonMenu{width: 1400px; margin: 0 auto;}
#iconbutton .iconbuttonMenu ul li{width: 12.5%; float: left; text-align: center;}
#iconbutton .iconbuttonMenu ul li a{display: block;}
#iconbutton .iconbuttonMenu ul li img{display: block; margin: 15px auto; width: 60px; height: 60px;}
#iconbutton .iconbuttonMenu ul li span{color: #555555; font-size: 18px;}
#eventWrapbg{width: 100%; height:849px; margin-top: 30px; background: url(../images/main_col5_bg2.jpg) no-repeat center center; background-size: cover;}
#eventWrapbg .eventWrap{width: 1400px; height: 749px; margin: 0 auto;}
#eventWrapbg .ewVisit{width: 480px; height: 600px; margin-right: 60px;}
#eventWrapbg .ewVisit .ewvisitTit{padding: 50px 0px;}
#eventWrapbg .ewVisit .ewvisitTit .potoImg{font-size: 23px; font-weight: bold; line-height: 55px; color: #000040;}
#eventWrapbg .ewVisit .ewvisitTit .potoImg img{margin-right: 15px;}
#eventWrapbg .ewVisit .ewvisitTit .evArrow img{float: right; padding: 25px 8px 25px 5px; width: 8px; height: 12px;}
#eventWrapbg .eventWrap .ewVisit .ewvisitImg{float: left; position: relative;}
#eventWrapbg .eventWrap .ewVisit .ewvisitImg a{position: absolute; top: 0; left: 0;}
#eventWrapbg .eventWrap .ewVisit .ewvisitImg img{width: 480px; height: 520px;}
#eventWrapbg .eventWrap .ewVisit .ewvisitImg a.alt{display: none;}
#eventWrapbg .eventWrap .ewVisit .ewvisitImg a.ewvon{display: block;}

#eventWrapbg .ewShowevent{width: 860px; height: 600px;}
#eventWrapbg .ewShowevent .ewshowTit{padding: 50px 0px;}
#eventWrapbg .ewShowevent .ewshowTit .calImg{font-size: 23px; font-weight: bold; line-height: 55px; color: #000040;}
#eventWrapbg .ewShowevent .ewshowTit .calImg img{margin-right: 15px;}
#eventWrapbg .ewShowevent .ewshowTit .evshArrow{float: right; line-height: 60px;}
#eventWrapbg .ewShowevent .ewshowTit .evshArrow a{color: #000040;  margin-right: 10px;}
#eventWrapbg .ewShowevent .ewshowTit .evshArrow a:hover{text-decoration: underline;}
#eventWrapbg .ewShowevent .ewshowTit .evshArrow img{float: right; padding: 25px 8px 25px 5px; width: 8px; height: 12px;}
#eventWrapbg .ewShowevent .ewshowImg div{overflow:hidden; width: 274px; height: 400px; padding-right: 12px;}
#eventWrapbg .ewShowevent .ewshowImg .show1 a{width: 274px; height: 400px; position:relative; background:url(../images/show1.png) no-repeat; display: block;}
#eventWrapbg .ewShowevent .ewshowImg .show1 a img{position:absolute; top:400px; left:0;}
#eventWrapbg .ewShowevent .ewshowImg .show2 a{width: 274px; height: 400px; position:relative; background:url(../images/show2.png) no-repeat; display: block;}
#eventWrapbg .ewShowevent .ewshowImg .show2 a img{position:absolute; top:400px; left:0;}
#eventWrapbg .ewShowevent .ewshowImg .show3 a{width: 274px; height: 400px; position:relative; background:url(../images/show3.png) no-repeat; display: block;}
#eventWrapbg .ewShowevent .ewshowImg .show3 a img{position:absolute; top:400px; left:0;}	
#eventWrapbg .ewShowevent .ewshowText span{width: 276px; height: 50px; float: left; padding: 25px 5px 0 0; font-size: 20px; color: #000000; letter-spacing: -1px;}
#eventWrapbg .ewShowevent .ewshowText span.show2{padding-left: 5px;}
#eventWrapbg .ewShowevent .ewshowText span.show3{padding-left: 7px;}
#eventWrapbg .ewShowevent .ewshowDate span{width: 276px; height: 50px; float: left; padding: 15px 5px 0 0; font-size: 20px; color: #000000; letter-spacing: -1px;}
#eventWrapbg .ewShowevent .ewshowDate span.show2{padding-left: 5px;}
#eventWrapbg .ewShowevent .ewshowDate span.show3{padding-left: 7px;}
#eventWrapbg .ewShowevent .ewshowDate a{width: 144px; display: block; text-decoration: none; letter-spacing: -1px; color: #000000;}
#eventWrapbg .ewBtmenu{width: 1400px; height: 100px; margin: 0 auto;}
#eventWrapbg .ewBtmenu ul .blueBg{background-color: #267dde;}
#eventWrapbg .ewBtmenu ul .greenBg{background-color: #1da3a9;}
#eventWrapbg .ewBtmenu ul li{width: 233.33px; height: 100px; float:left;}
#eventWrapbg .ewBtmenu ul li img{width: 40px; height: 40px;}
#eventWrapbg .ewBtmenu ul li a{display: block; color: #ffffff; padding: 30px; line-height: 45px;}
#eventWrapbg .ewBtmenu ul li a span{padding-left: 10px; font-size: 18px;}

#slideMenu{width: 1400px; height: 75px; margin: 0 auto;}
	#slideMenu .slidemenuArrow{float: left;}
	#slideMenu .slidemenuArrow img{width: 9px; padding: 30px 5px; margin-right: 15px;}
	#slideMenu ul li{float: left; padding: 23px 35px;}
	#slideMenu ul li a{color: #555555; font-size:20px;}


#bestgoods_zone{overflow: hidden; margin: 40px auto 0px auto;}	
	#bestgoods_zone h3{margin-bottom: 10px; font-weight:bold; color:#484848;}
	#best_bg{width: 1400px; height: 44px; padding: 8px 0px; position: relative; margin: 0 auto;}
	#best_bg span, #best_bg span strong{display: block; text-align: center;}
	#best_bg span{padding-top: 6px; font-size:20px; text-align:center; color: #555555;}
	#best_bg .prev_btn{position: absolute; top: 22px; left: 0px;}
	#best_bg .next_btn{position: absolute; top: 22px; right: 0px;}















