#title{width: 100%; height: 28px; padding: 0px 5px 15px 10px; border-bottom: 1px solid #333333;}
#title h3{font-size:22px; float:left; font-weight: bold;}
#title span{font-size: 13px; float:right; background: url(../img/bu_star.png) left center no-repeat; padding-left: 15px; line-height: 43px;}
#rightBn{margin-left: 35px;}
#form_join{width: 850px; height: 450px;}
#join1{width: 200px; float: left;}
#join1 ul li{padding: 15px; height: 22px; border-right: 1px solid #dddddd; border-bottom: 1px solid #dddddd; background: url(../img/bu_star.png) 20px center no-repeat; font-size: 16px; text-indent: 25px; line-height: 23px;}
#join1 ul li.noreq{background: none;}
#join2{width: 650px; float: left;}
#join2 ul li{width: 100%;padding: 10px; height: 32px;border-bottom: 1px solid #dddddd; font-size: 16px;}
#join2 ul li .radiom{margin-right: 10px;}
#join2 ul li a{padding: 2px 10px; border: 1px solid #333333; border-radius: 20px; transition: all .3s ease;}
#join2 ul li a:hover{color: #ffffff; background: #e21e2d;}
#join2 ul li span#idtxt{font-size:13px; margin-left: 10px; line-height: 31px;}
#join2 ul li input{padding-left: 5px; height: 28px; margin-right: 10px;}
#join2 ul li input.mr{margin-right: 0px;}
#join2 ul li input.hp1{margin-right: 5px;}
#join2 ul li input.hp2{margin-left: 5px; margin-right: 5px;}
#join2 ul li input.hp3{margin-left: 5px;}
#button{width: 200px; height: 30px; margin: 0 auto;}
#button a{padding: 2px 10px; border: 1px solid #333333; border-radius: 20px; transition: all .3s ease; font-size:16px;}
#button > a{margin-right: 10px;}
#button a.joinbtn{margin-right: 15px;}
#button a:hover{color: #ffffff; background: #e21e2d;}
#content{width: 1400px; min-height: 800px; margin: 0 auto; padding-top: 60px;}
/* #leftmenu{width: 250px; height: 800px; float:left;}
#leftmenu ul.oneDep{border-top: 2px solid #666666; border-bottom: 2px solid #666666; margin-left: 40px; margin-right: 50px;}
#leftmenu ul.oneDep ul{margin-top: 5px; line-height: 20px; padding-left: 15px;}
#leftmenu ul.oneDep > li{padding: 10px; border-bottom: 1px solid #666666;}
#leftmenu ul.oneDep > li > a{font-size: 18px; font-weight: bold;}
#leftmenu ul > li > a:hover{color: #c30203; text-decoration: underline;} */
#rightBn{width: 250px; height: 800px; float: left; margin-left: 50px;}
#col2{width: 850px; height: 800px; float: left;}
#nick2{margin-top: 2px;}