*{margin: 0; padding: 0;}
html{overflow-y: scroll;}
ul, li{list-style: none;}
a{text-decoration: none;}
body{font-family: '맑은 고딕','Malgun Gothic', sans-serif;}
img{border: 0;  vertical-align: top;}
h1{text-indent:-99999px; margin-top: -50px;}

.fl{float: left;}
.fr{float: right;}
.cb{clear: both;}
.cl{clear: left;}
.cr{clear: right;}
.cf:after{content: ''; display: block; clear: both;}

.balloon{background: #ffffff; color: #2389c1; padding: 6px 8px 8px 8px; position: absolute;opacity: 0; border: 1px solid #2389c1;}

.guide{color: #666666;}